* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(205, 219, 223);
	font-family: 'Ubuntu', sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.box {
		width: 800px;
		height: 600px;
		background-color: white;
		display: flex;
		border-radius: 20px;

		.menu {
			width: 30%;
			background-color: rebeccapurple;
			border-radius: 20px;
			position: relative;
			.grid {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: 1fr 1fr 1fr 1fr;
				height: 300px;
				margin: 10px;
				.math {
					display: flex;
				}
				.math:hover > .number {
					background-color: rgb(201, 51, 13);
					color: black;
				}
				.number {
					height: 30px;
					width: 30px;
					text-align: center;
					border-radius: 50%;
					color: #fff;
					border: 2px solid white;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				.step {
					margin: 10px;
					flex-direction: column;
					color: white;
				}
			}
		}
		.info {
			height: 600px;
			width: 600px;

			.wrapper {
				min-height: 300px;
				min-width: 500px;
				padding-left: 50px;

				.header {
					color: rgb(14, 14, 116);
				}
				.head {
					height: 30px;
					width: 440px;
					margin-bottom: 20px;
				}
				.description {
					color: gray;
					margin-bottom: 20px;
				}
			}
			.step1-input {
				height: 40px;
				width: 500px;
				border: 2px solid gray;
				border-radius: 10px;
				margin: 20px 0px;
			}
			#nameText {
				margin-top: 20px;
				color: rgb(19, 19, 126);
				height: 40px;
				width: 500px;
			}
		}

		.nextStep,
		.backStep {
			min-width: 120px;
			min-height: 40px;
			border-radius: 10px;
			border-color: transparent;
			background-color: rgb(12, 12, 97);
			color: white;
			margin: 20px;
		}
		.buttons {
			display: flex;
			width: 500px;
			flex-flow: row-reverse wrap-reverse;
			justify-content: space-between;
			margin-top: auto;
		}

		.chosen {
			display: flex;
			justify-content: flex-end;
		}
		.select {
			height: 250px;
			display: none;

			.pselect {
				line-height: 55px;
			}
		}

		.arcade,
		.advanced,
		.pro {
			width: 120px;
			height: 140px;
			background-color: white;
			margin: 10px;
			display: inline-block;
			border-radius: 15px;
			border: 2px solid rgb(196, 196, 196);
			padding: 20px;
			.name {
				color: rgb(12, 12, 128);
				font-weight: 800;
				margin-top: 10px;
			}
			.prize {
				font-size: 10px;
				color: gray;
				margin-top: 10px;
			}
		}
		.arcade:hover,
		.advanced:hover,
		.pro:hover {
			border: 3px solid rgb(15, 15, 104);
		}

		.img {
			width: 50px;
			height: 50px;
			background-color: yellow;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.switch {
		position: relative;
		display: flex;
		width: 60px;
		height: 34px;
	}

	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		margin: auto;
		display: none;
	}

	.slider:before {
		position: absolute;
		content: '';
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}

	input:checked + .slider {
		background-color: #2196f3;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196f3;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
		margin: auto;
	}

	.slider.round:before {
		border-radius: 50%;
	}
}
